
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.arriba{
    display: flex;
    align-items: center;
    padding: 20px;
    background-image: url('/img/IMG-20230823-WA0002.jpg');
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-position: center; /* Coloca la imagen en el centro del contenedor */
              
}
.logo{
    width: 30%;
    height: auto;
    margin-right: 20px;
}
.titulo{
    color: green;
    flex-grow: 1;
    font-size: 24px;
    width: 370%;
}
.nav{     
    width: 100%;    
}
.barra{
    background-color: rgb(115, 240, 115); 
    display: flex;
    justify-content: center;   
    margin: 0px 0px 0px 0px;
    padding: 10px;
     
}
.linka{
    text-decoration: none;
    color: black;
    padding: 10px;
    
}
.links{
    list-style: none;
    text-decoration: none;
    margin: 20px;
    width: calc(25%);
    text-align: center;
    font-size: 200%;    
    
}
footer{
    text-align: center;
    background-color: gray;
    height: 10vh;
    padding: 20px;
    color: white;
    margin: 0px;
}
@media (max-width: 768px) {
    .arriba {
        flex-direction: row;
        align-items: flex-start;
    }

    .logo {
        margin: 0 0 10px 0;
        width: 30%
    }

    .titulo {
        text-align: center;
        width: 170%;
    }

    .barra {
        flex-direction: column;
        text-align: center;
    }

    .links {
        width: 100%;
    }
}
